<!-- This file is created for testing purposes -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/order_car" method="post">
        <label for="customer_ID">Customer ID:</label>
        <input type="text" id="customer_ID" name="customer_ID" placeholder="customer_ID">
        <label for="car_ID">Car ID:</label>
        <input type="text" id="car_ID" name="car_ID" placeholder="car_ID">
        <button type="submit">Submit</button>
    </form>
</body>
</html>